Source: lodlabs-keyring
Priority: important
Section: misc
Maintainer: David Tulloh <debian-david@tulloh.id.au>
Build-Depends: debhelper (>= 7), jetring, gnupg
Standards-Version: 3.9.3

Package: lodlabs-keyring
Architecture: all
Multi-Arch: foreign
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Breaks: apt (<< 0.7.25.1)
Description: GnuPG archive keys of the lodlabs archive
 The Debian project digitally signs its Release files. This package
 contains the archive keys used for that by lodlabs.

Package: lodlabs-keyring-udeb
XC-Package-Type: udeb
Priority: optional
Architecture: all
Section: debian-installer
Depends: ${misc:Depends}
Recommends: gpgv-udeb
Description: GnuPG keys of the Debian archive
 The Debian project digitally signs its Release files. This package
 contains the archive keys used for that by lodlabs, in a minimal form
 for use in the installer.
